body{
    text-align: center;
}

#cabeçalho{
    background-color: rgb(127, 255, 138);
    border-radius: 20px;
    padding: 10px;
}

#botão{
    background-color: rgb(93, 161, 80);
    color: white;
    border-radius: 10px;
    font-size: 2em;
    transition: background-color 0.25s;
}
#botão:hover{
    background-color: rgb(142, 243, 122);
}

.números{
    font-size: 2em;
}